ul.projects li {
    font-size: 22px;
}

ul.projects li span.updated {
    font-size: 16px;
}

form.sign_script textarea {
  width: 90%;
  height: 110px;
}

textarea.example_embed {
  width: 90%;
  height: 140px;
}

input.example_script {
  width: 90%;
}

form.server_actions {
  display:inline-block;
}

form.server_actions select {
  width:140px;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 32px;
}